
input.buttonSubscribe {
margin: 0 5px 0 0;
}

/* a[href$=".pdf"], a[href$=".PDF"]  {
background: url('/images/icon_pdf.gif') 0 0 no-repeat; padding: 0 0 2px 20px;
behavior: url(/layout/css/PIE.htc);
vertical-align:text-top;
}

#leftContentInterior a.clean[href$=".pdf"], * a.clean[href$=".pdf"] {
background: none !important;
padding: 0 !important;
behavior: default !important;
vertical-align:text-top;
}
 */
#subNav #report-related h3 {margin-bottom:0; position:relative; } 
#subNav #report-related ul {padding-top:0; position:relative; }