body
{
font: 62.5% Arial, Trebuchet MS, sans-serif;
background-color:#f6f6f6;
color: #272727; 
font-size: 13px;    
line-height: 1.5em;	
}
h2 {
color: #1f3a5d;
font-size: 18px;
line-height: 1.3em;
text-shadow: 1px 1px 1px #fff;
font-weight: 400;
padding: 5px 0 10px 0;
}
p {
 padding: 0 0 15px 0; 
 }
div {
padding: 20px;
}

ul li {
    background: url("/images/buttonArrow.gif") no-repeat scroll 0 5px transparent;
    padding: 0 0 5px 18px;
    list-style-type: none;

a, a:link { text-decoration: none; color: #074978; }
a:hover { text-decoration: underline; }
a:active {
outline: 0;
}
a:visited {
color: #0f609a;
}

a img:hover {
opacity: .9;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
filter: alpha(opacity=90);		
}

a[href$=".ppt"], a[href$=".pps"]  {
background: url('/images/icon_pps.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px;
}
a[href$=".pdf"], a[href$=".PDF"]  {
background: url('/images/icon_pdf.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px;
}

a[href$=".xls"], a[href$=".XLS"]  {
background: url('/images/icon_xls.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px;
}
a[href$=".mp3"], a[href$=".MP3"]  {
background: url('/images/icon_audio.gif') -3px 3px no-repeat; padding: 5px 0 5px 20px;
}
dd {
padding-bottom: 15px;
}
dt{
padding-bottom: 5px;
}